* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color1: rgba(50,26,115,1);
    --color2: rgba(181,74,228,1);
    --color3: rgba(36,9,105,1);
    --color4: rgba(167,57,218,1);
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* start header styles */
header {
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#high-scores {
    text-decoration: none;
    color: var(--color2);
    font-size: 20px;
}
/* end header styles */

/* start intro styles */
#intro-box {
    padding: 80px;
    text-align: center;
}

main #intro-box h1 {
    font-size: 48px;
    margin: 10px auto;
}

main #intro-box p {
    font-size: 18px;
    margin: 10px auto;
    max-width: 400px;
}
/* end intro styles */

/* start button styles */
.btn {
    background: var(--color1);
    color: white;
    font-size: larger;
    padding: 10px 20px;
    margin: 20px;
    border: 1px var(--color3);
    border-radius: 5px;
}

.btn:hover {
    background: var(--color2);
    border: var(--color4);
}
/* end button styles */

/* start dynamic quiz styles */
.quiz-box {
    padding: 80px 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.quiz-box h1 {
    margin: 20px;
}

.ans-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.ans-box .btn {
    margin: 5px 5px 5px 20px;
    text-align: left;
}

.ruler {
    position: absolute;
    bottom: 34px;
    width: 800px;
}

.evaluation {
    margin: 5px auto;
}
/* end dynamic quiz styles */

/* start results styles */
.results-box {
    padding: 80px 200px;
}

.results-box h1 {
    margin: 20px;
    font-size: 48px;
}

.results-box p {
    margin: 20px;
    font-size: 18px;
}

.form-box {
    margin: 20px;
    display: flex;
    justify-content: start;
}

.form-box label {
    font-size: 18px;
    margin: 30px 5px 0 0;
}

.form-box input {
    width: 100px;
    margin: 30px 5px 5px 5px;
    height: fit-content;
}

.form-box .submit-btn {
    font-size: 18px;
    margin: 20px 5px;
}
/* end results styles*/

/* start rankings styles */
#score-box {
    padding: 80px;
    text-align: center;
}

#score-box h1 {
    font-size: 48px;
    margin: 10px auto;
}

#score-box ul {
    text-align: left;
    list-style: none;
}

#score-box ul li {
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    background: #999;
}
/* end ranking styles */